= simple_form_for @kanji do |f|
  - if @kanji.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kanji.errors.count, "error")} prohibited this kanji from being saved:"
      %ul
        - @kanji.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-6
      = f.input :key
      = f.input :word
      = f.input :reading
      = f.input :english
      = f.input :notes
      = f.input :synonyms
      = f.input :opposites
    .col-sm-6
      = f.input :found_in
      = f.input :japanese
      = f.input :origin
      = f.input :test
      = f.input :level
      = f.input :category
      = f.button :submit
