= form_for @kanji do |f|
  - if @kanji.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kanji.errors.count, "error")} prohibited this kanji from being saved:"
      %ul
        - @kanji.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :key
    = f.number_field :key
  .field
    = f.label :word
    = f.text_field :word
  .field
    = f.label :reading
    = f.text_field :reading
  .field
    = f.label :meaning
    = f.text_field :meaning
  .field
    = f.label :notes
    = f.text_field :notes
  .field
    = f.label :synonyms
    = f.text_field :synonyms
  .field
    = f.label :opposites
    = f.text_field :opposites
  .field
    = f.label :found_in
    = f.text_field :found_in
  .actions
    = f.submit 'Save'
