= paginate @kanjis, theme: 'twitter-bootstrap-4'
- @kanjis.each_slice(3) do |row|
  .row
    - row.each do |kanji|
      .col-sm-4
        = link_to kanji do
          .card
            -# %h5.card-header
            -#   %span.mdi.mdi-translate
            -#   = kanji.category
            .card-block
              %h1= kanji.word
              %p
                = kanji.reading
              %p
                = kanji.english
              - if user_signed_in?
                %td= link_to 'Edit', edit_kanji_path(kanji)
                %td= link_to 'Destroy', kanji, :method => :delete, :data => { :confirm => 'Are you sure?' }
= paginate @kanjis, theme: 'twitter-bootstrap-4'
