%p#notice= notice

%p
  %b Key:
  = @kanji.key
%p
  %b Word:
  = @kanji.word
%p
  %b Reading:
  = @kanji.reading
%p
  %b Meaning:
  = @kanji.meaning
%p
  %b Notes:
  = @kanji.notes
%p
  %b Synonyms:
  = @kanji.synonyms
%p
  %b Opposites:
  = @kanji.opposites
%p
  %b Found in:
  = @kanji.found_in

= link_to 'Edit', edit_kanji_path(@kanji)
\|
= link_to 'Back', kanjis_path
