%h1
  %span.mdi.mdi-cards
  Illustrations
%br
- if user_signed_in?
  = link_to 'New Illustration', new_illustration_path, class: 'btn btn-success'
  %br
  %br
- @illustrations.each_slice(2) do |row|
  .row
    - row.each do |illustration|
      .col-sm-6
        = link_to illustration do
          .card
            %h5.card-header
              = illustration.title
            .card-block
              = image_tag illustration.image.url(:medium), class: 'img-fluid img-rounded'
              = simple_format illustration.blurb
              - if user_signed_in?
                %br
                = link_to 'Edit', edit_illustration_path(illustration), class: 'btn btn-secondary'
                = link_to 'Delete', illustration, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
