%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  = link_to root_url, class: 'navbar-brand' do
    BuSensei
  %ul.nav.nav-pills.float-md-right
    %li.nav-item
      = link_to kanjis_path, class: 'nav-link' do
        %span.mdi.mdi-comment-question-outline
        ことわざ・Proverbs
    %li.nav-item
      = link_to illustrations_path, class: 'nav-link' do
        %span.mdi.mdi-cards
        イラストで解説・Illustrations
    %li.nav-item
      = link_to videos_path, class: 'nav-link' do
        %span.mdi.mdi-video
        動画・Videos
    %li.nav-item
      = link_to contact_path, class: 'nav-link' do
        %span.mdi.mdi-account
        About・Contact
