%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  = link_to root_url, class: 'navbar-brand' do
    = t('.brand')
  %ul.nav.nav-pills.float-md-left
    %li.nav-item.dropdown
      %button#kanjiMenu.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.mdi.mdi-translate
        Database
      .dropdown-menu{"aria-labelledby" => "kanjiMenu"}
        = link_to kanjis_path, class: 'dropdown-item' do
          %span.mdi.mdi-database
          Full Database
        = link_to proverbs_path, class: 'dropdown-item' do
          %span.mdi.mdi-cat
          Proverbs
        = link_to kotowaza_path, class: 'dropdown-item' do
          %span.mdi 諺
          Kotowaza
  %ul.nav.nav-pills.float-md-right
    %li.nav-item
      = link_to illustrations_path, class: 'nav-link' do
        %span.mdi.mdi-cards
        = t('.illustrations')
    %li.nav-item
      = link_to videos_path, class: 'nav-link' do
        %span.mdi.mdi-video
        = t('.videos')
    %li.nav-item
      = link_to contact_path, class: 'nav-link' do
        %span.mdi.mdi-account
        = t('.about_contact')
    %li.nav-item
      - if I18n.locale == :en
        = link_to '日本語', current_path_new_locale('ja'.to_sym), class: 'btn btn-secondary'
      - else
        = link_to 'English', current_path_new_locale('en'.to_sym), class: 'btn btn-secondary'
