.row
  .col-xs-4.col-sm-3.col-lg-2
    = image_tag 'bret_tv.jpg', class: 'img-rounded'
  .col-xs-8.col-sm-9.col-lg-10
    %h5= t('.intro')
    %a{href: 'https://twitter.com/busensei', target:'_blank', class: 'btn btn-info'}
      %span.mdi.mdi-twitter
      Twitter
    %br
    %br
    .alert.alert-warning
      %b= t('.alert.title')
      = t('.alert.body')
%br
%br
.row
  .col-lg-4
    .card
      .card-block
        %h5.card-title
          %span.mdi.mdi-translate
          = t('.random_vocab')
        %ul.list-group.list-group-flush
          - @kanjis.each do |kanji|
            %li.list-group-item
              = link_to kanji do
                %h1= kanji.word
                %p= kanji.reading
                %p= kanji.english
  .col-lg-4
    .card
      .card-block
        %h5.card-title
          %span.mdi.mdi-video
          = t('.latest_video')
        - @videos.each do |video|
          .embed-responsive.embed-responsive-16by9
            %iframe{allowfullscreen: "", src: "https://www.youtube.com/embed/#{video.tag}", class: 'embed-responsive-item'}
  .col-lg-4
    .card
      .card-block
        %h5.card-title
          %span.mdi.mdi-cards
          = t('.latest_illustration')
        - @illustrations.each do |illustration|
          = link_to illustration do
            = illustration.title
            = image_tag illustration.image.url(:medium), class: 'img-fluid img-rounded'
            = simple_format illustration.blurb
