= paginate @items, theme: 'twitter-bootstrap-4'
- @items.each_slice(3) do |row|
  .row
    - row.each do |item|
      .col-sm-4
        = link_to item do
          .card
            -# %h5.card-header
            -#   %span.mdi.mdi-translate
            -#   = item.category
            .card-block
              %h1= item.word
              %p
                = item.reading
              %p
                = item.english
              - if user_signed_in?
                %td= link_to 'Edit', edit_item_path(item)
                %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
= paginate @items, theme: 'twitter-bootstrap-4'
