.card
  .card-block
    %h5.card-title
      %span.mdi.mdi-translate
      Details
    %ul.list-group.list-group-flush
      %li.list-group-item
        %h1= @item.word
      %li.list-group-item
        %p Reading:
        = @item.reading
      %li.list-group-item
        %p English:
        = @item.english
      %li.list-group-item
        %p Notes:
        = @item.notes
      %li.list-group-item
        %p Category:
        = @item.category
- if user_signed_in?
  = link_to 'Edit', edit_item_path(@item)
